ol, ul {
	    list-style: none;
}

a{
	text-decoration: none;
}

header {
	background: #000 url(../img/home.png);
	background-size: auto auto;
	height: 942px;
	position: relative;
}


.menu {
    position: fixed;
    left: 0;
	right: 0;
	max-width: 1194px;
	display: flex;
	justify-content: space-between;
	background: rgba(3, 3, 3, 0.384);
	height: 86px;
	align-items: center;
	margin: 0 auto;
	border-bottom: #fff solid 1px;
	z-index: 999;
}

nav a {
    font-size: 16px;
	color: rgba(255, 255, 255);
}

nav a:hover {
	color: #fa2;
}

nav ul {
	display: flex;
	justify-content: space-between;
	width: 631px;
}

.home {
	position: absolute;
	top: 435px;
	left: 578px;
	text-align: center;
	color: #fff;
}

.home h1 {
	font-size: 55px;
}

.home h3 {
	font-size: 25px;
}

.authorization{
	display: flex;
}

.authorization  button{
	margin: 0px;
	padding: 0;
	height: 123px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	width: 800px;
	height: 123;
	cursor: pointer;
}


.login {
    background: #21424b;
    position: relative;
    border: none;
    font-weight: bold;
}

.login:before {
    content: '';
    position: absolute;
    bottom: 0; 
    right: 0;
    border-bottom: 61px solid #2fab6c;
    border-left: 20px solid #21424b;
}

.register {
    background: #2fab6c;
    position: relative;
    border: none;
    font-weight: bold;
}

.register:before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    border-top: 61px solid #21424b;
    border-right: 20px solid #2fab6c;
}

.authorization  button:hover{
	color: #fa2
}

.domain {
	text-align: center;
	padding: 90px 0;
}

.domain-content{
	max-width: 890px;
	margin: 0 auto;
}

.domain h2{
	font-size: 22px;
}

.domain p {
	font-size: 15px;
	padding: 27px 0 49px 0;
}


.domain form {
	display: flex;
	align-items: center;
    max-width: 889px; /* Ширина поля с кнопкой */
    border: 2px solid #d9d9d9; /* Параметры рамки */
	height: 50px; /* Минимальная высота */
	font-size: 18px;
}

.domain span{ /* Ширина поля */
	color: #cbcbcb;
	max-width: 50px;
	margin: 0 15px;
}

.domain input {
	flex-grow: 3;
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 274px; /* Ширина поля */
	vertical-align: middle; /* Выравнивание по середине */
	border-right: #cbcbcb solid 1px;
	border-left: #cbcbcb solid 1px;
	height: 32px;
	padding: 0 15px;
}

select {
    max-width: 71px; /* Ширина кнопки */
    height: 45px; /* Высота кнопки */
	border: none;/* Убираем рамку */
	color: #cbcbcb;
	background: #fff;
	margin: 0 15px;
}

domain::-webkit-input-placeholder {
	font-style:bold;
	color:#868686;
}

domain:-moz-placeholder {
	font-style:bold;
	color:#868686;
}

.domain table {
	width: 892px;
	height: 197px;
	margin-top: 38px;
	border: #d9d9d9 solid 2px;
	margin-bottom: 90px;
	border-collapse: collapse;
}

 td {
	text-align: center;
	font-size: 12px;
	color: #d9d9d9;
	border: #d9d9d9 solid 1px;
}

.packages{
	position: relative;
}

.packagesImg {
	background: #000 url(../img/packages.png);
	height: 383px;
}

.packagesImg2 {
	background: #fff;
	height: 383px;
}

.packages ul{
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	padding-bottom: 100px;
	border-bottom: #cbcbcb dashed 1px;
	width: 1198px;
	position: absolute;	
	top: 100px;
	left: 200px;
}

.packages li{
	height: 565px;
	text-align: center;
	width: 255px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.packages li img{
	padding-top: 41px;
	padding-bottom: 20px;
}

.packages table{
	border-top: #C4C4C4 solid 1px;
	border-bottom: #C4C4C4 solid 1px;
	font-size: 20px;
	color: #cbcbcb;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
	max-width: 200px;
	margin: 20px auto;
}

.packages table th:nth-child(2){
	text-align: right;
}

.basic{
	border-top: #F9D423 solid 5px;
}

.basic th:nth-child(2){
	color: #F9D423;
}

.basic h3{
	border-bottom: #F9D423 solid 3px;
}

.normal{
	border-top: #7F8C8D solid 5px;
}

.normal th:nth-child(2){
	color: #7F8C8D;
}

.normal h3{
	border-bottom: #7F8C8D solid 3px;
}

.big{
	border-top: #F85F40 solid 5px;
}

.big th:nth-child(2){
	color: #F85F40;
}

.big h3{
	border-bottom: #F85F40 solid 3px;
}

.biggest{
	border-top: #1ABC9C solid 5px;
}

.biggest th:nth-child(2){
	color: #1ABC9C;
}

.biggest h3{
	border-bottom: #1ABC9C solid 3px;
}

.plan {
	font-size: 23px;
}

.month{
	font-size: 13px;
	color: #868686;
}

.packages h3{
	max-width: 105px;
	margin: 0 auto;
}

.about-content{
	display: flex;
	max-width: 1183px;
	margin: 106px auto;
}

.description {
	max-width: 719px;
	height: 187px;
	border-right: #e6e6e6 dashed 2px;
}

.description h2 {
	margin-bottom: 33px;
	font-size: 35px;
}

.description p {
	font-size: 18px;
	max-width:419px;
}

.about ul{
	display: flex;
	justify-content: space-between;
	width: 665px;
	padding-left: 80px;
}

.about ul p img{
	border-radius: 50%;
	border: #E5E5E5 solid 5px;
}

figcaption{
	text-align: center;
}

figcaption a{
	display: inline;
}

figcaption h6{
	font-size: 15px;
	color: #C4C4C4;
	margin: 13px auto;
	text-align: center;

}


.comments {
	height: 190px;
	background: #000 url(../img/CommentsBG.png);
	color: #fff;
	position: relative;
	
}

.slider{
	text-align: center;
	position: absolute;
	top:50px;
	left: 355px;
	max-width: 890px;
	height: 95px;
}

.slider p{
	min-width: 870px;
}

.slider-nav{
	position: absolute;
	right: 300px;
	bottom: 10px; 
	border-left: #E5E5E5 solid 1px;

}
.slider-botton {
	background-color: #424241; 
    border: 2px solid #fff; 
    border-radius: 50%;
    display: inline-block; 
    height: 10px; 
    width: 10px; 
    margin: 0 5px; 
    cursor: pointer;
}

.slider li:hover{
	background: #fff;
}

.slider li:first-child{
	background: #fff;
}

#slide-2{
	display: none;
}

#slide-3{
	display: none;
}

.slider span{
	float: left;
	padding-left: 300px
}

.servers {
	height: 342px;
	text-align: center;
}

.servers-content{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 96px auto;
}

.servers-content li::before{
	content: " ";
	width: 60px;
	height: 60px;
	display: inline-block;
}

.servers-content li:nth-child(1)::before{
	background: url(../img/spritesheet.png) no-repeat -10px -10px;
}

.servers-content li:nth-child(2)::before{
	background: url(../img/spritesheet.png) no-repeat -90px -10px;
}

.servers-content li:nth-child(3)::before{
	background: url(../img/spritesheet.png) no-repeat -170px -10px;
}

.servers-content li:nth-child(4)::before{
	background: url(../img/spritesheet.png) no-repeat -250px -10px;
}

.servers-content li{
	max-width: 225px;
}

footer{
	background: #2a2a2a;
}

footer header{
	background: #2a2a2a;
	position: relative;
}