ol, ul {
	    list-style: none;
}

a{
	text-decoration: none;
}

header {
	background: #000 url(../img/home.png);
	background-size: auto auto;
	height: 942px;
	position: relative;
}


.menu {
    position: fixed;
    left: 0;
	right: 0;
	max-width: 1194px;
	display: flex;
	justify-content: space-between;
	background: rgba(3, 3, 3, 0.384);
	height: 86px;
	align-items: center;
	margin: 0 auto;
	border-bottom: #fff solid 1px;
	z-index: 999;
}

nav a {
    font-size: 16px;
	color: rgba(255, 255, 255);
}

nav a:hover {
	color: #fa2;
}

nav ul {
	display: flex;
	justify-content: space-between;
	width: 631px;
}

.home {
	position: absolute;
	top: 435px;
	left: 578px;
	text-align: center;
	color: #fff;
}

.home h1 {
	font-size: 55px;
}

.home h3 {
	font-size: 25px;
}

.authorization{
	display: flex;
}

.authorization  button{
	margin: 0px;
	padding: 0;
	height: 123px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	width: 800px;
	height: 123;
	cursor: pointer;
}


.login {
    background: #21424b;
    position: relative;
    border: none;
    font-weight: bold;
}

.login:before {
    content: '';
    position: absolute;
    bottom: 0; 
    right: 0;
    border-bottom: 61px solid #2fab6c;
    border-left: 20px solid #21424b;
}

.register {
    background: #2fab6c;
    position: relative;
    border: none;
    font-weight: bold;
}

.register:before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    border-top: 61px solid #21424b;
    border-right: 20px solid #2fab6c;
}

.authorization  button:hover{
	color: #fa2
}

.domain {
	text-align: center;
	padding: 90px 0;
}

.domain-content{
	max-width: 890px;
	margin: 0 auto;
}

.domain h2{
	font-size: 22px;
}

.domain p {
	font-size: 15px;
	padding: 27px 0 49px 0;
}


.domain form {
	display: flex;
	align-items: center;
    max-width: 889px; /* Ширина поля с кнопкой */
    border: 2px solid #d9d9d9; /* Параметры рамки */
	height: 50px; /* Минимальная высота */
	font-size: 18px;
}

.domain span{ /* Ширина поля */
	color: #cbcbcb;
	max-width: 50px;
	margin: 0 15px;
}

.domain input {
	flex-grow: 3;
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 274px; /* Ширина поля */
	vertical-align: middle; /* Выравнивание по середине */
	border-right: #cbcbcb solid 1px;
	border-left: #cbcbcb solid 1px;
	height: 32px;
	padding: 0 15px;
}

select {
    max-width: 71px; /* Ширина кнопки */
    height: 45px; /* Высота кнопки */
	border: none;/* Убираем рамку */
	color: #cbcbcb;
	background: #fff;
	margin: 0 15px;
}

domain::-webkit-input-placeholder {
	font-style:bold;
	color:#868686;
}

domain:-moz-placeholder {
	font-style:bold;
	color:#868686;
}

.domain table {
	width: 892px;
	height: 197px;
	margin-top: 38px;
	border: #d9d9d9 solid 2px;
	margin-bottom: 90px;
	border-collapse: collapse;
}

 td {
	text-align: center;
	font-size: 12px;
	color: #d9d9d9;
	border: #d9d9d9 solid 1px;
}

.packages{
	position: relative;
}

.packagesImg {
	background: #000 url(../img/Packages.jpeg);
	height: 383px;
}

.packagesImg2 {
	background: #fff;
	height: 383px;
}

.packages>ul{
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	padding-bottom: 100px;
	border-bottom: #cbcbcb solid 1px;
	width: 1198px;
	position: absolute;	
	top: 100px;
	left: 200px;
}

.packages li{
	height: 565px;
	text-align: center;
	width: 255px;
	background: #fff;
}

.packages li img{
	padding-top: 41px;
	padding-bottom: 20px;
}




.aboutAs {
	border-top: #e6e6e6 dashed 2px;
	margin-left: 201px;
	overflow: hidden;
}

.description {
	float: left;
	width: 521px;
	height: 187px;
	margin-top: 105px;
	margin-right: 102px;
	text-align: left;
	border-right: #e6e6e6 dashed 2px;
}

.description h1 {
	margin-bottom: 33px;
	font-size: 28px;
}

.description p {
	font-size: 17px;
	width:419px;
}

.development {
	float: right;
}

.development li{
	float: left;
	margin-right: 120px;
}

.development li:last-child{
	margin-right: 200px;
}

.development p img{
	border-radius: 50%;
	border: 5px solid #e5e5e5;
}

figcaption img{
	margin: 13px 23px 0px 23px;
}

figcaption img:last-child {
	margin: 13px 0;
}

figcaption img:hover {
	background: blue;
}

.development h1 {
	font-size: 16px;
}

.development p{
	font-size: 14px;
}

.development ul{
	margin-top: 113px;
}

.comments {
	height: 188px;
	background: #000 url(../img/CommentsBG.png);
	margin-top: 100px;
	color: #fff;
}


 .servers {
	margin-top: 99px;
	height: 243px;
 }

 .servers li {
	 float: left;
	 margin-right: 103px;
 }

 .servers li:first-child {
	margin-left: 201px;
}

footer{
	background: #2a2a2a;
}

footer header{
	background: #2a2a2a;
	position: relative;
}